main {
  display: flex;
  flex-wrap: wrap;
  gap: 8em;
  padding: 4em;

  div.column {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }

  input {
    text-align: right;

    // Hide up and down arrow buttons
    &[type='number'] {
      ::-webkit-outer-spin-button,
      ::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      -moz-appearance: textfield;
    }
  }
}

footer {
  display: flex;
  padding: 4em;
  gap: 4em;
}
